
header {
  top: 0;
  background-color: var(--color-backgoud-light);
}

nav {
  display: flex;;
  justify-content: space-evenly;
  margin-top: 1.3rem;
  padding: 1.3rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

nav input,
footer input {
  font-size: 1rem;
  padding: 0.5em;
}

nav a:any-link {
  color: #d2668d;
  text-decoration: none;
}
